# Browserslist - конфиг, который служит для обозначения браузеров, которые должны поддерживаться данным приложением.
#> 0.5% or last 2 versions # На браузер должно приходится не менее 0.5% пользователей
#not dead # Браузеры с официальной поддержкой
> 0.5%